.card-img-top{
    height: 200px;
}

.text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;    
    max-height: 32px;     
    -webkit-line-clamp: 1; /* Write the number of 
                              lines you want to be 
                              displayed */
    -webkit-box-orient: vertical;
}