.image{
    width: 400px;
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.forget, .login, .register{
    position: relative;
    /* background-image: linear-gradient(rgb(206, 127, 127),rgb(197, 197, 209),rgb(227, 165, 148)); */
    background-image: url("https://d1.awsstatic.com/china/hp/Website/Site-Merch_First-Time-Visitor_Hero-BG.95709379ff5911afed6a90a90b17102f92a608dd.png");

    /* background-image: url("https://account.mongodb.com/static/images/auth/login_promo_desktop.png"); */
    width: 100%;
    height: 100vh;
}